  /*-moz-column-width: 20em;*/
.content {
  -moz-column-width: 300px;
  -webkit-column-width: 300px;
  column-width: 300px;
  -moz-column-gap: 30px;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  -moz-column-fill: balance;
  -webkit-column-fill: balance;
  column-fill: balance;
  padding: 20px;
  text-align: justify;
  font-family: 'Crimson Text', serif;
  z-index:5;
  

}
p {
  text-indent: 20px;
}
body {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(top, #87ceeb 11%, #ffffff 30%); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.11, #87ceeb  ),color-stop(0.3, #ffffff)); /* Saf4+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='#999999'); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='#999999')"; /* IE8 */
}


h1 {
  text-align: center;
  color:#fffff1;
  font-family: 'Josefin Sans Std Light', arial, sans-serif;
  text-shadow: 0px 0px 4px #fff;

}

img#end {
  /*background: #EEE;*/
  zoom: 1; /* to get IE6 support*/
  position:absolute;
  bottom: 0px;
  right:0px;
  z-index: -2;
}
img#beginning {
  width: 10%;
  height: 10%;
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: -3;
}

.license {
  font-size: 0.5em;
  position:absolute;
  bottom: 0px;
  left: 0px;
}
#top{
  position:absolute;
  top:5px;
  right:50px;
}
#bottom{
  position:absolute;
  top:50px;
  right:10px;
}

.bug a{
  text-decoration:none;
  color:#eee;
  text-shadow: 0px 0px 4px #eee;
}
.bug {
  font-size: 0.75em;
  color:#fff;
  text-shadow: 0px 0px 10px #fff;
  background: #fff;
  padding: 10px;
  -moz-column-width: 40px;
  -webkit-column-width: 30px;
  column-width: 30px;
  -moz-column-gap: 3px;
  -webkit-column-gap: 3px;
  column-gap: 3px;
  -moz-column-fill: balance;
  -webkit-column-fill: balance;
  column-fill: balance;
  text-align: justify;

  -moz-border-radius: 12px; /* FF1+ */
  -webkit-border-radius: 12px; /* Saf3-4 */
  border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */


  -moz-box-shadow: 0px 0px 5px #ffffff; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 5px #ffffff; /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 5px #ffffff; /* Opera 10.5, IE 9.0 */

  
/*
  -moz-transform: rotate(45deg); 
  -o-transform: rotate(45deg);  
  -webkit-transform: rotate(45deg); 
     filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', 
              M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); 
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(
              M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, 
              sizingMethod='auto expand')"; 
  zoom: 1;
  */
}


